html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

a {
	outline: none;
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	background: #424242;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 50px;
	padding-top: 50px;
}

.title {
	margin: 0;
	margin-bottom: 30px;
	text-align: center;
	color: #fff;
}

.section-1 {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 50px;
}

/* ============= Чекбоксы =============  */

.checkbox__container {
	padding: 20px 29px;
	max-width: 176px;
	min-height: 309px;
	background-color: #fff;
	border-radius: 10px;
}

.checkbox__title {
	margin: 0;
	margin-bottom: 20px;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
}

.checkbox__label:not(:last-child) span {
	margin-bottom: 20px;
}

.checkbox__label span {
	display: flex;
	align-items: center;
	position: relative;
}


.checkbox__label span::before {
	content: "";
	display: block;
	margin-right: 9px;
	position: relative;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	border: 1px solid #ccb26e;
	border-radius: 3px;
}

.checkbox__label span::after {
	content: "";
	display: none;
	position: absolute;
	top: 25%;
	left: 5%;
	width: 4px;
	height: 7px;
	border: 1px solid #ccb26e;
	border-width: 0 1px 1px 0;
	transform: rotate(45deg)
}

.checkbox__input:checked+span::after {
	display: block;
}

.checkbox__input {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.checkbox__input:focus+span::before {
	outline-offset: 2px;
	outline: 1px solid #ccb26e;
}

.checkbox__caption {
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	cursor: pointer;
	transition: color .3s ease-in-out;
}

.checkbox__caption:hover {
	color: #ccb26e;
	;
}

/* =============== Select ======================= */

.select__container {
	width: 176px;
}

.choices {
	z-index: 1;
}

.choices__inner {
	position: relative;
	padding: 9px 15px;
	min-height: auto;
	background-color: #fff;
	border: none;
	border-radius: 10px;
}

.is-focused .choices__inner {
	color: #ccb26e;
}

.is-open .choices__inner {
	padding: 9px 15px;
	min-height: auto;
	background-color: #fff;
	border: 1px solid #ccb26e;
	border-radius: 10px;
}

.choices__item {
	font-size: 14px;
	line-height: 19px;
}

div[data-id="5"] {
	display: none;
}

.is-open .choices__list--dropdown {
	position: absolute;
	top: 20px;
	z-index: -1;
}

.is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded] {
	border-color: #ccb26e;
	border-radius: 10px;
}

.is-active .choices__list {
	padding: 40px 15px 20px 15px;
}

.choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
	padding-right: 0;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
	background-color: transparent;
	color: #ccb26e;
	transition: color .3s ease-in-out;
}

.is-highlighted .choices__list--dropdown .choices__item {
	color: #ccb26e;
}

.choices__list--dropdown .choices__item:hover {
	color: #ccb26e;
}

.choices[data-type*=select-one]::after {
	content: "";
	height: 8px;
	width: 8px;
	border: 1px solid #666;
	border-width: 0 1px 1px 0;
	transform: rotate(45deg);
	position: absolute;
	right: 12px;
	top: 45%;
	margin-top: -2px;
	pointer-events: none;
}

.choices[data-type*=select-one].is-open:after {
	border-left: 1px solid #CCB26E;
	border-bottom: 1px solid #CCB26E;
	margin-top: -2px;
	transform: rotate(135deg);
}

/* =============== Яндекс Карта ======================= */

.section-2 {
	display: flex;
	justify-content: center;
}

.section__map {
	width: 460px;
	height: 460px;
}

[class*="ground-pane"] {
	filter: grayscale(1);
}